<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center">Add New Comment to <%= campground.name %></h1>
			<div style="width: 30%; margin: 25px auto;">	
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<div class="form-group">
						<label for="text">Text:</label>
						<input class="form-control" type="text" name="comment[text]" id="text">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block">Submit!</button>
					</div>
				</form>
				<a href="/campgrounds">Go Back</a>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>