<%- include("./partials/header") %>

<h1>Login</h1>

<form action="/login" method="POST">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username">

	<label for="password">Password:</label>
	<input type="password" name="password" id="password">
	
	<input type="submit" value="Login">
</form>

<%- include("./partials/footer") %>