<%- include("./partials/header") %>

<h1>Sign Up</h1>

<form action="/register" method="POST">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username">

	<label for="password">Password:</label>
	<input type="password" name="password" id="password">
		
	<button>Sign Up</button>
</form>

<%- include("./partials/footer") %>