<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col">
			<header class="jumbotron">
				<div class="container">
					<h1>Welcome to YelpCamp!</h1>
					<p class="lead">View our hand-picked campgrounds from all over the world</p>
					<p>
						<a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
					</p>
				</div>
			</header>

			<div class="row">
				<div class="col-lg-12">
					<h3>Our Most Popular Campgrounds!</h3>
				</div>
			</div>
			
			<div class="row" style="display: flex; flex-wrap: wrap;">
				<% campgrounds.forEach((campground) => { %>
					<div class="col-sm-6 col-md-3 text-center">
						<div class="thumbnail">
							<img src="<%= campground.image %>" alt="">
							<div class="caption">
								<h4><%= campground.name %></h4>
							</div>
							<p>
								<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
							</p>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>