<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center">Create a New Campground</h1>
			<div style="width: 30%; margin: 25px auto;">	
				<form action="/campgrounds" method="POST">
					<div class="form-group">
						<label for="name">Name:</label>
						<input class="form-control" type="text" name="name" id="name">
					</div>
					<div class="form-group">
						<label for="image">Image URL:</label>
						<input class="form-control" type="text" name="image" id="image">
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input class="form-control" type="text" name="description" id="description">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block">Submit!</button>
					</div>
				</form>
				<a href="/campgrounds">Go Back</a>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>