<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Yelp Camp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campground.image %>" alt="">
				<div class="caption">
					<h4 class="pull-right">$9.00/night</h4>
					<h4><a href=""><%= campground.name %></a></h4>
					<p><%= campground.description %></p>
					<p><em>Submitted By <%= campground.author.username %></em></p>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add New Comment</a>
				</div>
				<hr />
				<% campground.comments.forEach((comment) => { %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right">10 days ago</span>
							<p>
								<%= comment.text %>
							</p>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>